<h1>Tweet App</h1>

<% if user_signed_in? %>
    <%= link_to 'logout', destroy_user_session_path, data: { "turbo-method": :delete } %>
<% else %>
    <%= link_to 'sign_up', new_user_registration_path %>
    <%= link_to 'login', new_user_session_path %>
<% end %>
